.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
}

/* Overlay effect when sidebar is open */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}